<div class="new-comment">
  <% if @comment.errors.any? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <p><strong>Oh snap! </strong><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</p>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([@post, @comment], :remote => true) do |f| %>
    <fieldset>
      <div class="clearfix">
        <%= f.text_area :body, :rows => 5, :class => "xxlarge" %>
      </div>
      <%= f.submit :class => "btn primary" %>
    </fieldset>
  <% end %>
</div>
