<section id="comment" style="margin-top: 20px">
  <% if @comment.errors.any? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <p><strong>Oh snap! </strong><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</p>
      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li style="color: rgba(0, 0, 0, 0.8);"><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([@post, @comment]) do |f| %>
    <fieldset>
      <legend style="padding-left: 0px">New comment</legend>
      <div class="clearfix">
        <div class="input" style="margin-left: 0px">
          <%= f.text_area :body, :rows => 5, :class => "xxlarge" %>
        </div>
      </div>
      <div class="actions" style="padding-left: 20px">
        <%= f.submit :class => "btn primary" %>
      </div>
    </fieldset>
  <% end %>
</section>
