<section id="form">
  <% if @post.errors.any? %>
    <div class="alert-message block-message error">
      <a class="close" href="#">×</a>
      <p><strong>Oh snap! </strong><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</p>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_for([:admin, @post]) do |f| %>
    <fieldset>
      <div class="clearfix">
        <%= f.label :title %>
        <div class="input">
          <%= f.text_field :title, :class => "xxlarge" %>
        </div>
      </div>
      <div class="clearfix">
        <%= f.label :body %>
        <div class="input">
          <%= f.text_area :body, :class => "xxlarge" %>
        </div>
      </div>
      <div class="input">
        <%= f.submit :class => "btn primary" %>
      </div>
    </fieldset>
  <% end %>
</section>
