<% if @posts.empty? -%>
  <div class="alert-message block-message info">
    <a class="close" href="#">×</a>
    <p><strong>There are no posts to display!</strong> Start now by adding some post!.</p>
    <div class="alert-actions">
      <%= link_to "Add a new post!", new_post_path, :class => "btn small" %>
    </div>
  </div>
<% else -%>
  <%= render :partial => @posts %>
<% end -%>

<div class="page-header">
  <h1>Listing posts</h1>
</div>

<table class="zebra-striped">
  <tr>
    <th>Title</th>
    <th>Body</th>
    <th colspan="3">Actions</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= truncate(post.body) %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New Post', new_post_path, class: "btn primary" %>
