<%= render :partial => @post %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>

<div class="page-header" style="margin-top: 20px">
  <h3>Comments</h3>
</div>
<%= render @post.comments %>
<%= render :partial => 'comments/form' %>
