<!DOCTYPE html>
<html>
<head>
  <title>WyeWorks Blog</title>
  <%= stylesheet_link_tag "http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css" %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => :atom) %>
  <%= csrf_meta_tags %>
</head>
<body style="padding-top: 40px; background-color: rgb(244, 244, 244)">
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h1><%= link_to "WyeWorks Blog", posts_path, :class => "brand" %></h1>
      </div>
    </div>
  </div>

  <div class="container" style="background-color: white; border-left: 1px solid #cccccc; border-right: 1px solid #cccccc; padding-left: 30px; padding-right: 30px">
    <div class="content" style="margin-top: 15px">
      <% if alert -%>
        <div class="alert-message error">
          <a class="close" href="#">x</a>
          <p><strong>Oh snap!</strong> <%= alert %></p>
        </div>
      <% end -%>
      <% if notice -%>
        <div class="alert-message success">
          <a class="close" href="#">x</a>
          <p><strong>Well done!</strong> <%= notice %></p>
        </div>
      <% end -%>
      <%= yield %>
    </div>
  </div>
</body>
</html>
