<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="topbar" data-dropdown="dropdown">
    <nav class="fill">
      <div class="container">
        <h1 class="logo"><%= link_to "WyeWorks Blog", root_path, class: "brand" %></h1>
        <% if user_signed_in? %>
          <ul class="nav secondary-nav">
            <li class="menu">
            <a href="#" class="menu"><%= current_user.email %></a>
            <ul class="menu-dropdown hidden">
              <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
            </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>
  </header>

  <div class="container">
    <% if alert %>
      <div class="alert-message error" data-alert="alert">
        <a class="close" href="#">x</a>
        <p><strong>Oh snap!</strong> <%= alert %></p>
      </div>
    <% end %>
    <% if notice %>
      <div class="alert-message success" data-alert="alert">
        <a class="close" href="#">x</a>
        <p><strong>Well done!</strong> <%= notice %></p>
      </div>
    <% end %>

    <section class="content">
      <%= yield %>
    </section>
  </div>
</body>
</html>
