<!DOCTYPE html>
<html>
<head>
  <title>WyeWorks Blog</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= auto_discovery_link_tag :atom, posts_path(:format => :atom) %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="topbar">
    <div class="fill">
      <div class="container">
        <h1 class="logo"><%= link_to "WyeWorks Blog", posts_path, class: "brand" %></h1>
        <% if admin_signed_in? -%>
          <ul class="nav secondary-nav">
            <li class="menu">
            <a href="#" class="menu"><%= current_admin.email %></a>
            <ul class="menu-dropdown hidden">
              <li><%= link_to 'Logout', destroy_admin_session_path, :method => :delete %></li>
            </ul>
            </li>
          </ul>
        <% end -%>
      </div>
    </div>
  </div>

  <div class="container">
    <% if alert -%>
      <div class="alert-message error">
        <a class="close" href="#">x</a>
        <p><strong>Oh snap!</strong> <%= alert %></p>
      </div>
    <% end -%>
    <% if notice -%>
      <div class="alert-message success">
        <a class="close" href="#">x</a>
        <p><strong>Well done!</strong> <%= notice %></p>
      </div>
    <% end -%>

    <div class="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
